img {
    display: block;
    margin: auto;
}

p {
    text-align: justify;
}

li {
    text-align: justify;
}

iframe {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}
